# Assignment

Q1. Write the Python program to add, subtract, multiply and divide
two pandas series ?

    Sample Series- [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [11]:
def psaVedMathsOperations():
    import pandas as pd
    one = pd.DataFrame([2, 4, 6, 8, 10])
    two = pd.DataFrame([1, 3, 5, 7, 9])
    print('ADDITION---')
    addresult = one+two
    addresult.columns = ['addResult']
    print(addresult)
    print('SUBSTRACTION---')
    subResult = one-two
    subResult.columns = ['subResult']
    print(subResult)
    print('multiplication---')
    mulResult = one*two
    mulResult.columns = ['mulResult']
    print(mulResult)
    print('DIVISION---')
    divResult = one/two
    divResult.columns = ['divResult']
    print(divResult)
psaVedMathsOperations()

ADDITION---
   addResult
0          3
1          7
2         11
3         15
4         19
SUBSTRACTION---
   subResult
0          1
1          1
2          1
3          1
4          1
multiplication---
   mulResult
0          2
1         12
2         30
3         56
4         90
DIVISION---
   divResult
0   2.000000
1   1.333333
2   1.200000
3   1.142857
4   1.111111

Q2. Write a Python program to convert a dictionary to the Pandas
Series?
    
    Sample SeriesOriginal dictionary-
    {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
    Converted series -
    a 100
    b 200
    c 300
    d 400
    e 800
    dtype- int64

In [15]:
def psaVedDictionaryToSeries():
    import pandas as pd
    sampleDictionary = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
    convertedSeries = pd.Series(sampleDictionary)
    print(convertedSeries)
psaVedDictionaryToSeries()

a    100
b    200
c    300
d    400
e    800
dtype: int64

Q3. Write a python program to change the data type of given a
column or a Series?

    Sample SeriesOriginal Data Series0 100
    1 200
    2 python
    3 300.12
    4 400
    dtype- object
    Change the said data type to numeric0 100.00
    1 200.00
    2 NaN
    3 300.12
    4 400.00
    dtype- float64

In [59]:
def psaVedChangeDataType():
    import numpy as np
    import pandas as pd
    sampleData = pd.DataFrame(['200','python','300.12','400'])
    print(sampleData)
    print(sampleData.dtypes)
    print(pd.DataFrame(pd.to_numeric(['200','python','300.12','400'], errors='coerce')))
psaVedChangeDataType()

        0
0     200
1  python
2  300.12
3     400
0    object
dtype: object
        0
0  200.00
1     NaN
2  300.12
3  400.00

Q4. Write the python pandas program to convert the first column of a
DataFrame as a Series?

    Sample OutputOriginal DataFramecol1 col2 col3
    0 1 4 7
    1 2 5 5
    2 3 6 8
    3 4 9 12
    4 7 5 1
    5 11 0 11
    1st column as a Series0 1
    1 2
    2 3
    3 4
    4 7
    5 11
    Name- col1, dtype- int64
    <class 'pandas.core.series.Series'>

In [16]:
def psaVedFirstColumnToSeries():
    import numpy as np
    import pandas as pd
    sampleData = pd.DataFrame(np.arange(15).reshape(5,3))
    print(sampleData)
    print('----selected column-----')
    print(sampleData.iloc[:,0])
psaVedFirstColumnToSeries()

    0   1   2
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14
----selected column-----
0     0
1     3
2     6
3     9
4    12
Name: 0, dtype: int32

Q5. Write a pandas program to create the mean and standard
deviation of the data of a given Series?

    Sample OutputOriginal Data Series0 1
    1 2
    2 3
    3 4
    4 5
    5 6
    6 7
    7 8
    8 9
    9 5
    10 3
    dtype- int64
    Mean of the said Data Series4.81818181818
    Standard deviation of the said Data Series2.52262489555

In [15]:
def psaVedCalculateMeanAndSD():
    import numpy as np
    import pandas as pd
    sampleSeries = pd.Series(np.arange(10))
    print('----SAMPLE SERIES----')
    print(sampleSeries)
    print('----CALCULATE MEAN----')
    print(sampleSeries.mean())
    print('----CALCULATE STANDARD DEVIATION----')
    print(sampleSeries.std())
psaVedCalculateMeanAndSD()

----SAMPLE SERIES----
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32
----CALCULATE MEAN----
4.5
----CALCULATE STANDARD DEVIATION----
3.0276503540974917

Q6. Write a pandas program to get powers of an array values
element-wise?
 
Note First array elements raised the powers from the second array.

    Sample data: {'X ':[78,85,96,80,86], ' Y ':[84,94,89,83,86],'Z':[86,97,96,72,83]}
    Expected Output:
    X Y Z
    0 78 84 86
    1 85 94 97
    2 96 89 96
    3 80 83 72
    4 86 86 83

In [14]:
def psaVedGetPowers():
    import numpy as np
    import pandas as pd
    sampleData = pd.DataFrame({'X ':[78,85,96,80,86], ' Y ':[84,94,89,83,86],'Z':[86,97,96,72,83]})
    print(sampleData)
psaVedGetPowers()

   X    Y    Z
0  78   84  86
1  85   94  97
2  96   89  96
3  80   83  72
4  86   86  83

Q7. Write the pandas program to get the first 3 rows of a given
DataFrame?

    Sample Python dictionary data and list labelsexam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts'- [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify'- [ 'yes', 'no', 'yes' , 'no', ' no ', ' yes ', 'yes', 'no', 'no', 'yes' ] }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j' ]
    Expected OutputFirst three rows of the data frameattempts name qualify score
    a 1 Anastasia yes 12.5
    b 3 Dima no 9.0
    c 2 Katherine yes 16.5

In [13]:
def psaVedFirstRow():
    import numpy as np
    import pandas as pd
    sampleDataFrame = pd.DataFrame({
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael','Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': [ 'yes', 'no', 'yes' , 'no', ' no ', ' yes ', 'yes', 'no', 'no', 'yes' ] })
    sampleDataFrame.index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j' ]
    print(sampleDataFrame.head(3))
psaVedFirstRow()

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

Q8: Write the pandas program to select the specified columns and
the rows from a given data frame?

    Sample Python dictionary data and list labelsSelect 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.
    exam_data = {'name ': [ 'Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score'- [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts'- [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify'- ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'] }
    labels = ['a ', ' b ', ' c ', ' d ', ' e ', ' f ', ' g ', 'h', 'i', 'j']
    Expected OutputSelect specific columns and rowsname score
    b Dima 9.0
    d James NaN
    f Michael 20.0
    g Matthew 14.5

In [12]:
def psaVedSelectSpecifiedColumn():
    import numpy as np
    import pandas as pd
    sampleData = pd.DataFrame({
        'name ': [ 'Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael','Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'] })
    sampleData.index = ['a ', ' b ', ' c ', ' d ', ' e ', ' f ', ' g ', 'h', 'i', 'j']
    print(sampleData)
    print('----SELECTED DATA-----')
    print(sampleData.iloc[[1,3,5,6],:2])
psaVedSelectSpecifiedColumn()

         name   score  attempts qualify
a    Anastasia   12.5         1     yes
 b        Dima    9.0         3      no
 c   Katherine   16.5         2     yes
 d       James    NaN         3      no
 e       Emily    9.0         2      no
 f     Michael   20.0         3     yes
 g     Matthew   14.5         1     yes
h        Laura    NaN         1      no
i        Kevin    8.0         2      no
j        Jonas   19.0         1     yes
----SELECTED DATA-----
       name   score
 b      Dima    9.0
 d     James    NaN
 f   Michael   20.0
 g   Matthew   14.5

Q9. Write the pandas program to calculate mean score for each
different student in DataFrame?

    Sample Python dictionary data and list labelsexam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts'- [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify'- ['yes', 'no', ' yes ', ' no ', ' no ', ' yes ', ' yes ', ' no ', ' no ', ' yes '] }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    Expected OutputMean score for each different student in data frame:
    13.5625

In [11]:
def psaVedCalculateMeanScore():
    import numpy as np
    import pandas as pd
    labelsexam_data = pd.DataFrame({
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael','Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', ' yes ', ' no ', ' no ', ' yes ', ' yes ', ' no ', ' no ', ' yes '] })
    labelsexam_data.index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    scoreData = labelsexam_data['score']
    print(labelsexam_data)
    print('-----SCORE DATA----')
    print(scoreData)
    print('-----CALCULATED MEAN----')
    print(scoreData.mean())
psaVedCalculateMeanScore()

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2    yes
d      James    NaN         3     no
e      Emily    9.0         2     no
f    Michael   20.0         3    yes
g    Matthew   14.5         1    yes
h      Laura    NaN         1     no
i      Kevin    8.0         2     no
j      Jonas   19.0         1    yes
-----SCORE DATA----
a    12.5
b     9.0
c    16.5
d     NaN
e     9.0
f    20.0
g    14.5
h     NaN
i     8.0
j    19.0
Name: score, dtype: float64
-----CALCULATED MEAN----
13.5625

Q10. Write the Pandas program to rename columns of a given
DataFrame ?

    Sample dataOriginal data frame
    col1 col2 col3
    0 1 4 7
    1 2 5 8
    2 3 6 9
    New data frame after renaming columns:
    Column1 Column2 Column3
    0 1 4 7
    1 2 5 8
    2 3 6 9

In [10]:
def psaVedRenameColumn():
    import numpy as np
    import pandas as pd
    sampleData = pd.DataFrame(np.arange(16).reshape(4,4))
    sampleData.columns = ['Col1','Col2','Col3','Col4']
    print(sampleData)
    sampleData.columns = ['Column1','Column2','Column3','Column4']
    print(sampleData)
psaVedRenameColumn()

   Col1  Col2  Col3  Col4
0     0     1     2     3
1     4     5     6     7
2     8     9    10    11
3    12    13    14    15
   Column1  Column2  Column3  Column4
0        0        1        2        3
1        4        5        6        7
2        8        9       10       11
3       12       13       14       15

Q11. Write a pandas program to count city-wise number of people from
a given of data set (city, name of the person)?

    Sample data-
    city Number of people
    0 California 4
    1 Georgia 2
    2 Los Angeles 4

Q12. Write a pandas program to widen output display to see more
columns?
    
    Sample dataOriginal data frame
    col1 col2 col3
    0 1 4 7
    1 4 5 8
    2 3 6 9
    3 4 7 0
    4 5 8 1

In [9]:
def psaVedOutputDisplay():
    import pandas as pd
    sampleData = pd.DataFrame({'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]})
    print(sampleData)
psaVedOutputDisplay()

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

Q13. Write a pandas program to convert the data frame column type
from string to DateTime?
    
    Sample dataString Date0 3/11/2000
    1 3/12/2000
    2 3/13/2000
    dtype- object
    Original DataFrame (string to datetime)-
    0
    0 2000-03-11
    1 2000-03-12
    2 2000-03-13

In [8]:
def psaVedConvertDataFrame():
    import pandas as pd
    startDate = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000'])
    print("String Date:")
    print(startDate)
    r = pd.to_datetime(pd.Series(startDate))
    df = pd.DataFrame(r)
    print(df)
psaVedConvertDataFrame()

String Date:
0    3/11/2000
1    3/12/2000
2    3/13/2000
dtype: object
           0
0 2000-03-11
1 2000-03-12
2 2000-03-13

Q14. Write a pandas program to append the data to an empty
DataFrame?

    Sample dataOriginal DataFrame- After appending some data: col1 col2 0 0 0 1 1 1 2 2 2

In [7]:
def psaVedDataAppend():
    import pandas as pd
    sampleFirstDataFrame = pd.DataFrame()
    mainData = pd.DataFrame({
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael','Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, 1, 9, 20, 14.5, 2, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', ' yes ', ' no ', ' no ', ' yes ', ' yes ', ' no ', ' no ', ' yes '] })
    print(sampleFirstDataFrame.append(mainData))
psaVedDataAppend()

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2    yes
3      James    1.0         3     no
4      Emily    9.0         2     no
5    Michael   20.0         3    yes
6    Matthew   14.5         1    yes
7      Laura    2.0         1     no
8      Kevin    8.0         2     no
9      Jonas   19.0         1    yes

Q15. Write a pandas program to count the number of columns of a
DataFrame?

    Sample OutputOriginal DataFrame
    col1 col2 col3
    0 1 4 7
    1 2 5 8
    2 3 6 12
    3 4 9 1
    4 7 5 11
    Number of columns- 3

In [6]:
def psaVedColumnCount():
    import pandas as pd
    sampleDataFrame = pd.DataFrame({
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael','Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, 1, 9, 20, 14.5, 2, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', ' yes ', ' no ', ' no ', ' yes ', ' yes ', ' no ', ' no ', ' yes '] })
    print(sampleDataFrame)
    print('----COLUMN COUNT----')
    print(len(sampleDataFrame.columns))
psaVedColumnCount()

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2    yes
3      James    1.0         3     no
4      Emily    9.0         2     no
5    Michael   20.0         3    yes
6    Matthew   14.5         1    yes
7      Laura    2.0         1     no
8      Kevin    8.0         2     no
9      Jonas   19.0         1    yes
----COLUMN COUNT----
4

Q16. Write a Pandas program to remove the last n rows of a given
DataFrame ?

    Sample Output:
    Original DataFrame
    col1 col2 col3
    0 1 4 7
    1 2 5 5
    2 3 6 8
    3 4 9 12
    4 7 5 1
    5 11 0 11
    After removing last 3 rows of the said DataFramecol1 col2 col3
    0 1 4 7
    1 2 5 5
    2 3 6 8
    
     Link for Datasets
     (https://drive.google.com/drive/folders/105ftuIwN9kqyPNEEm3E6IM7LqywjyvJa?usp=sharing)

In [5]:
def psaVedRemoveLastNRow():
    import pandas as pd
    sampleDataFrame = pd.DataFrame({
        'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael','Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, 1, 9, 20, 14.5, 2, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', ' yes ', ' no ', ' no ', ' yes ', ' yes ', ' no ', ' no ', ' yes '] })
    print(sampleDataFrame)
    print('----after removal-----')
    print(sampleDataFrame.drop([5,6,7,8,9], axis=0))
psaVedRemoveLastNRow()

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2    yes
3      James    1.0         3     no
4      Emily    9.0         2     no
5    Michael   20.0         3    yes
6    Matthew   14.5         1    yes
7      Laura    2.0         1     no
8      Kevin    8.0         2     no
9      Jonas   19.0         1    yes
----after removal-----
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2    yes
3      James    1.0         3     no
4      Emily    9.0         2     no

Q17. Write a Pandas program to import excel data (coalpublic2013.xlsx
) into a Pandas data frame.

In [4]:
def psaVedExcelRead():
    import pandas as pd
    print(pd.DataFrame(pd.read_excel('coalpublic2013.xlsx').head()))
psaVedExcelRead()

   Year  MSHA ID                       Mine_Name  Production  Labor_Hours
0  2013   103381            Tacoa Highwall Miner       56004        22392
1  2013   103404                Reid School Mine       28807        28447
2  2013   100759  North River #1 Underground Min     1440115       474784
3  2013   103246                      Bear Creek       87587        29193
4  2013   103451                     Knight Mine      147499        46393

Q18. Write a Pandas program to import excel data (coalpublic2013.xlsx
) into a data frame and find details where "Mine Name" starts with
"P.

In [3]:
def psaVedImportExcel():
    import pandas as pd
    excelData = pd.read_excel('coalpublic2013.xlsx')
    print(excelData[excelData['Mine_Name'].str.startswith('P')])
psaVedImportExcel()

    Year  MSHA ID                      Mine_Name  Production  Labor_Hours
13  2013   103332                  Powhatan Mine      140521        61394
18  2013   102976  Piney Woods Preparation Plant           0        14828
19  2013   102976  Piney Woods Preparation Plant           0        23193
46  2013   103321                 Poplar Springs      189370        76366

Q19. Write a Pandas program to import excel data (employee.xlsx )
into a Pandas dataframe and find the list of employees where
hire_date> 01-01-07.

In [2]:
def psaVedFindDataOnHireDate():
    import pandas as pd
    excelData = pd.read_excel('employee.xlsx')
    print(excelData[excelData['hire_date'] > '01-01-07'])
psaVedFindDataOnHireDate()

    emp_id first_name   last_name  hire_date
4      104      Bruce       Ernst 2007-05-21
7      107      Diana     Lorentz 2007-02-07
13     113       Luis        Popp 2007-12-07
19     119      Karen  Colmenares 2007-08-10

Q20. Write a Pandas program to import excel data (employee.xlsx )
into a Pandas dataframe and find a list of the employees of a specified
year

In [1]:
def psaVedFindDataOnSpecifiedYear():
    import pandas as pd
    excelData = pd.read_excel('employee.xlsx')
    yearData = excelData.set_index('hire_date')
    print(yearData['2007'])
psaVedFindDataOnSpecifiedYear()

            emp_id first_name   last_name
hire_date
2007-05-21     104      Bruce       Ernst
2007-02-07     107      Diana     Lorentz
2007-12-07     113       Luis        Popp
2007-08-10     119      Karen  Colmenares

## Great Job!